.search{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  
}

.search--center{
  height: 100vh;
  align-items: center;
}

.search--top{
  align-items: flex-start;
}